*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #272651;
}
.App {
  text-align: center;
  margin-top: 20px;
}
.App h1{
  color: white;
}

.card,
.box {
  padding: 10px;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  height: 150px;
  background-color: rgb(255, 255, 255);
}

.input-field {
  border-radius: 10px;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 25px;
  margin: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.btn {
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  padding: auto;
  width: 80px;
  height: 30px;
  text-align: center;
  transition-duration: 0.5s;
  margin: auto;
}
.btn h5{
  color: white;
}


img {
  width: 50px;
  margin: auto;
  background-color: white;
}

.con {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h2, h6, h3, p{
  background-color: white;
}